@charset 'utf-8';
@font-face {
	font-family: PixelMplus10-Regular;
	src: url('../fonts/PixelMplus10-Regular.ttf') format("truetype");
}
@font-face {
	font-family: PixelMplus10-Bold;
	src: url('../fonts/PixelMplus10-Bold.ttf') format("truetype");
}
html{
  font-size: 16px;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.0rem;
  font-family: PixelMplus10-Regular;
}
body{
  padding: 32px;
  line-height: 1.6;
  color: #565656;
}
#wrapper{
  width: 792px;
}
#canvas{
  background: url('../img/bg.png') top center no-repeat;
  margin-bottom: 24px;
}
.kinoko-text{
  font-size: 30px;
  font-weight: bold;
  color: #ff3a68;
}
.kinoko-count{
  font-weight: bold;
  font-size: 24px;
  color: #ff3a68;
}
.kinoko-counter-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kinoko-counter-container{
  justify-content: center;
}
.kinoko-counter-container > p:not(:last-child){
  margin-right: 24px;
}
.start-button,.reset-button{
  text-align: center;
  margin: 0 auto 24px;
}
.button{
  border: none;
  padding: 12px 16px;
  font-family: PixelMplus10-Bold;
  width: 200px;
  border-radius: 8px;
  color: #fff;
  background-color: #ff3a68;
}
.button_reset{
  background-color: #00b5d1;
}
.text-container{
  text-align: center;
}
.button_top{
  margin: 32px auto 0;
  text-align: center;
}
.count-timer{
  font-size: 32px;
  color: #ff3a68;
  font-family: PixelMplus10-Bold;
}

.outer{
  border: 2px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}
.inner{
  border: 1px solid #ccc;
  padding: 32px;
  border-radius: 8px;
}
.inner > p{
  margin-bottom: 16px;
}